# Components of a groupby operation

In [1]:
from IPython.display import IFrame

In [2]:
IFrame('http://etc.ch/Qiup', 400, 300)

In [3]:
IFrame('https://directpoll.com/r?XDbzPBd3ixYqg8fScFM4ITaST2iNt4c8vN1EdJdK', 400, 300)

# The three components of every groupby aggregation
There are three components to every groupby operation that can help you understand the syntax

* **Grouping columns** - the unique values of these columns for independent groups
* **Aggregating columns** - The values in these columns will be aggregated into a single value
* **Aggregating functions** - These functions are independently applied to each aggregating column of each group

The syntax will look something similar to this:

```
>>> df.groupby(['grouping', 'columns'])['aggregating', 'columns'].agg(['aggregating', 'functions'])
```

There are many additional syntaxes but each groupby aggregation will always have these three components.

### A fairly simple groupby
Let's do an exercise to get us started

In [4]:
import pandas as pd
import numpy as np

In [5]:
college = pd.read_csv('../data/college.csv')
college.head()

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
0,Alabama A & M University,Normal,AL,1.0,0.0,0.0,0,424.0,420.0,0.0,...,0.0000,0.0059,0.0138,0.0656,1,0.7356,0.8284,0.1049,30300,33888
1,University of Alabama at Birmingham,Birmingham,AL,0.0,0.0,0.0,0,570.0,565.0,0.0,...,0.0368,0.0179,0.0100,0.2607,1,0.3460,0.5214,0.2422,39700,21941.5
2,Amridge University,Montgomery,AL,0.0,0.0,0.0,1,NaN,NaN,1.0,...,0.0000,0.0000,0.2715,0.4536,1,0.6801,0.7795,0.8540,40100,23370
3,University of Alabama in Huntsville,Huntsville,AL,0.0,0.0,0.0,0,595.0,590.0,0.0,...,0.0172,0.0332,0.0350,0.2146,1,0.3072,0.4596,0.2640,45500,24097
4,Alabama State University,Montgomery,AL,1.0,0.0,0.0,0,425.0,430.0,0.0,...,0.0098,0.0243,0.0137,0.0892,1,0.7347,0.7554,0.1270,26600,33118.5

### Exercise 1
<span style="color:green; font-size:16px">Find the average and max SAT Math and Verbal scores by state and religious affiliation.</span>

In [23]:
state_sat = college.groupby(['STABBR', 'RELAFFIL'])['SATVRMID', 'SATMTMID'].agg(['mean', 'max']) \
                                                                           .dropna() \
                                                                           .astype(int)
state_sat.head(10)

                SATVRMID      SATMTMID
                    mean  max     mean  max
STABBR RELAFFIL
AK     1             555  555      503  503
AL     0             514  595      515  590
       1             498  565      485  560
AR     0             481  555      503  565
       1             505  600      531  600
AZ     0             549  565      548  580
       1             485  485      480  480
CA     0             561  765      584  785
       1             529  665      528  665
CO     0             537  635      541  680

Copy and paste solution in the next cell from Solutions notebook. 

Side note: It's possible to create 'exercise' cells with [nbextensions](https://github.com/ipython-contrib/jupyter_contrib_nbextensions).

In [ ]:
# copy solution here

In [ ]:
state_sat.head(10)

## Flattening a MultiIndex

### Many options available to go back to a single level index

* Rename manually with a list
* Concatenation of level values
* Swift `map` method

In [ ]:
state_sat.columns.get_level_values(0) + '_' + state_sat.columns.get_level_values(1)

#### Swift Index `map` method

Let's see a simple example in pure Python first

In [ ]:
t = ('first', 'second')

In [ ]:
'some phrase {0}'.format(t)

In [ ]:
'some phrase {0[0]}'.format(t)

In [ ]:
'some phrase {0[0]} - {0[1]}'.format(t)

Let's use this idea with the **`map`** Index method

In [ ]:
state_sat.columns.map('{0[0]}_{0[1]}'.format)

Or like this

In [ ]:
state_sat.columns.map('_'.join)

### Exercise 2
<span style="color:green; font-size:16px">Why would we ever use the method with **`map`** when **`join`** is more straightforward. Turn the **`state_sat`** DataFrame with single level index and columns.</span>

In [ ]:
# your code here

# `agg` vs `apply` on a groupby object

In [6]:
IFrame('http://etc.ch/Xig7', 400, 300)

In [7]:
IFrame('https://directpoll.com/r?XDbzPBd3ixYqg8FSFbM44x1kSxKzcBd8htg8WwN5Vx', 400, 300)

**`agg`** must return a single value for each function. Each column is passed into the function as a Series. It cannot 'see' any other data.

The groupby **`apply`** method can return a single value, a Series or a DataFrame. You must supply a custom function to **`apply`**. This custom function accepts the entire group as a **`DataFrame`**.

### Simple examples to see how the groupby `apply` works

In [20]:
def return_single(x):
    return 'a single value'

def return_series(x):
    return pd.Series(data=['value 1', 'value 2'], index=['col A', 'col B'])

def return_df(x):
    return pd.DataFrame(np.random.rand(3,2), 
                        index=['row one', 'row two', 'row three'], 
                        columns=['col A', 'col B'])

In [21]:
college.groupby(['STABBR', 'RELAFFIL']).apply(return_single).head(10)

STABBR  RELAFFIL
AK      0           a single value
        1           a single value
AL      0           a single value
        1           a single value
AR      0           a single value
        1           a single value
AS      0           a single value
AZ      0           a single value
        1           a single value
CA      0           a single value
dtype: object

In [22]:
college.groupby(['STABBR', 'RELAFFIL']).apply(return_series).head(10)

                   col A    col B
STABBR RELAFFIL
AK     0         value 1  value 2
       1         value 1  value 2
AL     0         value 1  value 2
       1         value 1  value 2
AR     0         value 1  value 2
       1         value 1  value 2
AS     0         value 1  value 2
AZ     0         value 1  value 2
       1         value 1  value 2
CA     0         value 1  value 2

In [11]:
college.groupby(['STABBR', 'RELAFFIL']).apply(return_df).head(20)

                              col A     col B
STABBR RELAFFIL
AK     0        row one    0.323751  0.178119
                row two    0.617646  0.007139
                row three  0.760896  0.245973
       1        row one    0.161494  0.001277
                row two    0.595980  0.537512
                row three  0.729461  0.601564
AL     0        row one    0.056789  0.058201
                row two    0.606868  0.508540
                row three  0.434612  0.751814
       1        row one    0.244602  0.746838
                row two    0.519312  0.733865
                row three  0.837961  0.795860
AR     0        row one    0.992580  0.815960
                row two    0.780491  0.626910
                row three  0.191051  0.278715
       1        row one    0.877312  0.929606
                row two    0.135662  0.918103
                row three  0.394820  0.941986
AS     0        row one    0.932502  0.672456
                row two    0.461326  0.029888

### Exercise 3
<span style="color:green; font-size:16px">Verify that the object passed to the custom function in **`apply`** is a DataFrame</span>

In [12]:
# your code here

### Exercise 4
<span style="color:green; font-size:16px">Calculate the average SAT Math scores per state weighted by undergraduate population</span>

In [24]:
college_drop = college[['STABBR', 'SATMTMID', 'UGDS']].dropna()

def calc_wa(df):
    wa =  (df['SATMTMID'] * df['UGDS']).sum() / df['UGDS'].sum()
    return wa.astype(int)

college_drop.groupby('STABBR').apply(calc_wa).head(10)

STABBR
AK    503
AL    536
AR    529
AZ    569
CA    564
CO    553
CT    545
DC    621
DE    569
FL    565
dtype: int64

## Can we calculate the weighted average without `apply`?

In [25]:
college_drop = college[['STABBR', 'SATMTMID', 'UGDS']].dropna()

In [26]:
college_drop['MATH_WT'] = college_drop['SATMTMID'] * college_drop['UGDS']
college_drop.head()

  STABBR  SATMTMID     UGDS     MATH_WT
0     AL     420.0   4206.0   1766520.0
1     AL     565.0  11383.0   6431395.0
3     AL     590.0   5451.0   3216090.0
4     AL     430.0   4811.0   2068730.0
5     AL     565.0  29851.0  16865815.0

In [27]:
c1 = college_drop.groupby('STABBR')['MATH_WT', 'UGDS'].agg('sum')
c1.head()

            MATH_WT      UGDS
STABBR
AK         138325.0     275.0
AL       65028168.0  121290.0
AR       40588207.0   76710.0
AZ       32171364.0   56509.0
CA      381651138.0  675554.0

In [28]:
(c1['MATH_WT'] / c1['UGDS']).astype(int).head()

STABBR
AK    503
AL    536
AR    529
AZ    569
CA    564
dtype: int64

### Which way is faster?

In [29]:
%%timeit 
college_drop['MATH_WT'] = college_drop['SATMTMID'] * college_drop['UGDS']
c1 = college_drop.groupby('STABBR')['MATH_WT', 'UGDS'].agg('sum')
(c1['MATH_WT'] / c1['UGDS']).astype(int).head()

2.97 ms ± 285 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [30]:
def calc_wa(df):
    wa =  (df['SATMTMID'] * df['UGDS']).sum() / df['UGDS'].sum()
    return wa.astype(int)

In [31]:
%timeit college_drop.groupby('STABBR').apply(calc_wa).head(10)

25.4 ms ± 2.36 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

# Keeping tab completion

Tab completion is an extremely useful feature. It disappears (some jedi) when you chain methods together.

In [ ]:
college[['STABBR', 'SATMTMID', 'UGDS']].dropna().<press tab>

To work around this, save intermediate steps to a variable

### Press shift + tab + tab for help

# Summary
* Know the three components of a groupby aggregation - grouping columns, aggregating columns, aggregating functions
* Flatten a MultiIndex with the **`map`** method
* The groupby **`agg`** functions implicity get passed a Series and return a single value
* The groupby **`apply`** functions implicitly get passed a DataFrame and can return a single value, Series or DataFrame
* Can pre-calcualte a column to avoid **`apply`** and get better performance