# What do you hate about pandas?

I started a thread on the data science subreddit [What do you hate about pandas?](https://www.reddit.com/r/datascience/comments/7ggdlz/what_do_you_hate_about_pandas/) 


I have some things that I think could be changed.
* Keep only two indexers **`.loc`** and **`.iloc`**
* Many methods are not needed and can be deprecated. I like keeping the library as small as possible
* Make the documentation more accessible to beginning programmers
* Better renaming conventions after a groupby

# Mastering Pandas

* Article on [How to Learn Pandas](https://medium.com/dunder-data/how-to-learn-pandas-108905ab4955)
* Read the entire documentation 
* Do lots of end-to-end data analyses (kaggle datasets and kernels)
* Answer questions on Stack Overflow
* Create tutorials

# Code Review

Do you have a small snippet of code you would like to share?

# Random Exercises

In [24]:
import pandas as pd
import numpy as np

### Exercise 1
<span style="color:green; font-size:16px">Convert **`df1`** to **`df2`**</span>

In [19]:
df1 = pd.read_csv('../data/e1.csv')
df2 = pd.read_csv('../data/e2.csv')

In [20]:
df1

   A  B  C
0  1  0  0
1  1  1  0
2  0  1  0
3  0  0  1

In [22]:
df2

   A  B  C label
0  1  0  0     A
1  1  1  0    AB
2  0  1  0     B
3  0  0  1     C

In [ ]:
# your code here