# Solutions
This notebook contains solutions to all the exercises from the Selecting Subsets of Data Series

In [2]:
import pandas as pd
import numpy as np

# Part 1: Selection with `[]`, `.loc` and `.iloc`

In [3]:
df = pd.read_csv('data/food_inspections.csv')
df.head()

,DBA Name,Facility Type,Risk,Address,Zip,Inspection Date,Inspection Type,Results,Violations
0,DANY'S TACOS,Restaurant,Risk 1 (High),2857 S ST LOUIS AVE,60623.0,03/27/2017,License,Fail,"16. FOOD PROTECTED DURING STORAGE, PREPARATION..."
1,BILLY FOOD MARKET INC,NaN,Risk 3 (Low),3906 W ROOSEVELT RD,60624.0,03/27/2017,License,Not Ready,NaN
2,TAQUERIA HACIENDA TAPATIA,Restaurant,Risk 1 (High),4125 W 26TH ST,60623.0,03/27/2017,License Re-Inspection,Pass,2. FACILITIES TO MAINTAIN PROPER TEMPERATURE -...
3,WILD GOOSE BAR & GRILL,Restaurant,Risk 1 (High),4265 N LINCOLN AVE,60618.0,03/27/2017,Canvass,Fail,"16. FOOD PROTECTED DURING STORAGE, PREPARATION..."
4,PUBLICAN TAVERN K1,Restaurant,Risk 1 (High),11601 W TOUHY AVE,60666.0,03/27/2017,Canvass,Fail,18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...

### Exercise 1
<span  style="color:green; font-size:16px">The current DataFrame has a simple `RangeIndex`. Let make the **`DBA Name`** column the index to make it more meaningful. Save the result to variable **`df`**.</span>

In [4]:
df = df.set_index('DBA Name')
df.head()

,Facility Type,Risk,Address,Zip,Inspection Date,Inspection Type,Results,Violations
DBA Name,,,,,,,,
DANY'S TACOS,Restaurant,Risk 1 (High),2857 S ST LOUIS AVE,60623.0,03/27/2017,License,Fail,"16. FOOD PROTECTED DURING STORAGE, PREPARATION..."
BILLY FOOD MARKET INC,NaN,Risk 3 (Low),3906 W ROOSEVELT RD,60624.0,03/27/2017,License,Not Ready,NaN
TAQUERIA HACIENDA TAPATIA,Restaurant,Risk 1 (High),4125 W 26TH ST,60623.0,03/27/2017,License Re-Inspection,Pass,2. FACILITIES TO MAINTAIN PROPER TEMPERATURE -...
WILD GOOSE BAR & GRILL,Restaurant,Risk 1 (High),4265 N LINCOLN AVE,60618.0,03/27/2017,Canvass,Fail,"16. FOOD PROTECTED DURING STORAGE, PREPARATION..."
PUBLICAN TAVERN K1,Restaurant,Risk 1 (High),11601 W TOUHY AVE,60666.0,03/27/2017,Canvass,Fail,18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...

### Exercise 2
<span  style="color:green; font-size:16px">Select the **`Risk`** column as a Series with just the indexing operator. Also select it with attribute access.</span>

In [6]:
df['Risk'].head()

DBA Name
DANY'S TACOS                 Risk 1 (High)
BILLY FOOD MARKET INC         Risk 3 (Low)
TAQUERIA HACIENDA TAPATIA    Risk 1 (High)
WILD GOOSE BAR & GRILL       Risk 1 (High)
PUBLICAN TAVERN K1           Risk 1 (High)
Name: Risk, dtype: object

In [8]:
df.Risk.head()

DBA Name
DANY'S TACOS                 Risk 1 (High)
BILLY FOOD MARKET INC         Risk 3 (Low)
TAQUERIA HACIENDA TAPATIA    Risk 1 (High)
WILD GOOSE BAR & GRILL       Risk 1 (High)
PUBLICAN TAVERN K1           Risk 1 (High)
Name: Risk, dtype: object

### Exercise 3
<span  style="color:green; font-size:16px">Select the **`Risk`** and **`Results`** columns</span>

In [9]:
df[['Risk', 'Results']].head()

                                    Risk    Results
DBA Name
DANY'S TACOS               Risk 1 (High)       Fail
BILLY FOOD MARKET INC       Risk 3 (Low)  Not Ready
TAQUERIA HACIENDA TAPATIA  Risk 1 (High)       Pass
WILD GOOSE BAR & GRILL     Risk 1 (High)       Fail
PUBLICAN TAVERN K1         Risk 1 (High)       Fail

### Exercise 4
<span  style="color:green; font-size:16px">Select a single column as a DataFrame</span>

In [10]:
df[['Zip']].head()

                               Zip
DBA Name
DANY'S TACOS               60623.0
BILLY FOOD MARKET INC      60624.0
TAQUERIA HACIENDA TAPATIA  60623.0
WILD GOOSE BAR & GRILL     60618.0
PUBLICAN TAVERN K1         60666.0

### Exercise 5
<span  style="color:green; font-size:16px">Select the row for the restaurant **`WILD GOOSE BAR & GRILL`**. What object is returned?</span>

In [11]:
df.loc['WILD GOOSE BAR & GRILL'] # returns a Series

Facility Type                                             Restaurant
Risk                                                   Risk 1 (High)
Address                                          4265 N LINCOLN AVE
Zip                                                            60618
Inspection Date                                           03/27/2017
Inspection Type                                              Canvass
Results                                                         Fail
Violations         16. FOOD PROTECTED DURING STORAGE, PREPARATION...
Name: WILD GOOSE BAR & GRILL, dtype: object

### Exercise 6
<span  style="color:green; font-size:16px">Select the rows for the restaurants **`WILD GOOSE BAR & GRILL`** and **`TAQUERIA HACIENDA TAPATIA`** along with columns **`Risk`** and **`Results`**.</span>

In [13]:
df.loc[['WILD GOOSE BAR & GRILL', 'TAQUERIA HACIENDA TAPATIA'], ['Risk', 'Results']]

                                    Risk Results
DBA Name
WILD GOOSE BAR & GRILL     Risk 1 (High)    Fail
TAQUERIA HACIENDA TAPATIA  Risk 1 (High)    Pass

### Exercise 7
<span  style="color:green; font-size:16px">What is the risk of restaurant **`SCRUB A DUB`**?</span>

In [16]:
df.loc['SCRUB A DUB', 'Risk']

'Risk 2 (Medium)'

### Exercise 8
<span  style="color:green; font-size:16px">Select every 3,000th restaurant from **`THRESHOLD SCHOOL`** to **`SCRUB A DUB`** and the columns from **`Inspection Type`** on to the end of the DataFrame.</span>

In [20]:
df.loc['THRESHOLD SCHOOL':'SCRUB A DUB':3000, 'Inspection Type':]

,Inspection Type,Results,Violations
DBA Name,,,
THRESHOLD SCHOOL,Canvass,Pass,38. VENTILATION: ROOMS AND EQUIPMENT VENTED AS...
SAN JOSE FAST FOOD,Canvass,Out of Business,NaN
CHUCHOS ON ADDISON INC,Canvass,Pass w/ Conditions,33. FOOD AND NON-FOOD CONTACT EQUIPMENT UTENSI...
PIZZERIA AROMA,Canvass Re-Inspection,Pass,2. FACILITIES TO MAINTAIN PROPER TEMPERATURE -...
JEWEL FOOD STORE #3210,Canvass,No Entry,NaN
EGANS TAVERN,Canvass,Out of Business,NaN
Los Amigos Grill,Canvass,Out of Business,NaN
JOHNNY VAN'S SMOKEHOUSE,License,Pass,NaN
WEN CAFE INC,Out of Business,Fail,NaN

### Exercise 9
<span  style="color:green; font-size:16px">Select all columns from the 500th restaurant to the 510th</span>

In [21]:
df.iloc[500:510]

,Facility Type,Risk,Address,Zip,Inspection Date,Inspection Type,Results,Violations
DBA Name,,,,,,,,
THE MECCA RESTAURANT,Restaurant,Risk 1 (High),6666 N NORTHWEST HWY,60631.0,03/14/2017,Canvass,Pass w/ Conditions,8. SANITIZING RINSE FOR EQUIPMENT AND UTENSILS...
L & T CHINA FAST WOK INC.,Restaurant,Risk 1 (High),2020 N CALIFORNIA AVE,60647.0,03/14/2017,Canvass,Pass,33. FOOD AND NON-FOOD CONTACT EQUIPMENT UTENSI...
SCHNEIDER SENIOR APARTMENT,Golden Diner,Risk 1 (High),1750 W PETERSON AVE,60660.0,03/14/2017,Canvass Re-Inspection,Pass,"35. WALLS, CEILINGS, ATTACHED EQUIPMENT CONSTR..."
ECKHARDT CAFE,Restaurant,Risk 1 (High),5640 S ELLIS AVE,60637.0,03/14/2017,Canvass,Pass,33. FOOD AND NON-FOOD CONTACT EQUIPMENT UTENSI...
WING ZONE,Restaurant,Risk 1 (High),1757 W 87TH ST,60620.0,03/14/2017,Canvass,Out of Business,NaN
ARBYS,Restaurant,Risk 1 (High),500 W MADISON ST,60661.0,03/14/2017,Canvass,Pass,"34. FLOORS: CONSTRUCTED PER CODE, CLEANED, GOO..."
LAS ISLAS MARIAS,Restaurant,Risk 1 (High),8205-8209 S PULASKI RD,60652.0,03/14/2017,Canvass,Pass,"30. FOOD IN ORIGINAL CONTAINER, PROPERLY LABEL..."
MARGARET'S,Restaurant,Risk 1 (High),5134 W IRVING PARK RD,60641.0,03/14/2017,Canvass,Pass,33. FOOD AND NON-FOOD CONTACT EQUIPMENT UTENSI...
POPEYES FAMOUS FRIED CHICKEN,Restaurant,Risk 2 (Medium),9516 S VINCENNES AVE,60643.0,03/14/2017,Complaint,Pass w/ Conditions,3. POTENTIALLY HAZARDOUS FOOD MEETS TEMPERATUR...
PJ PIZZA COMPANY 1 DBA PAPA JOHNS,Restaurant,Risk 2 (Medium),1755 W 87TH ST,60620.0,03/14/2017,Canvass,Out of Business,NaN

### Exercise 10
<span  style="color:green; font-size:16px">Select restaurants 100, 1,000 and 10,000 along with columns 5, 3, and 1</span>

In [22]:
df.iloc[[100, 1000, 10000], [5, 3, 1]]

                           Inspection Type      Zip           Risk
DBA Name
TAQUERIA LA CANTERA                License  60608.0  Risk 1 (High)
PARK TAVERN CHICAGO              Complaint  60612.0  Risk 1 (High)
LITTLE VILLAGE HIGH SCHOOL         Canvass  60623.0  Risk 1 (High)

### Exercise 11
<span  style="color:green; font-size:16px">Select the **`Risk`** column and save it to a Series</span>

In [25]:
risk = df['Risk']
risk.head()

DBA Name
DANY'S TACOS                 Risk 1 (High)
BILLY FOOD MARKET INC         Risk 3 (Low)
TAQUERIA HACIENDA TAPATIA    Risk 1 (High)
WILD GOOSE BAR & GRILL       Risk 1 (High)
PUBLICAN TAVERN K1           Risk 1 (High)
Name: Risk, dtype: object

### Exercise 12
<span  style="color:green; font-size:16px">Using the risk Series, select **`ARBYS`** and **`POPEYES FAMOUS FRIED CHICKEN`**</span>

In [24]:
risk.loc[['ARBYS', 'POPEYES FAMOUS FRIED CHICKEN']]

DBA Name
ARBYS                             Risk 1 (High)
POPEYES FAMOUS FRIED CHICKEN    Risk 2 (Medium)
Name: Risk, dtype: object